:root {
  --shiki-color-background: theme("colors.zinc.800");
  --shiki-color-text: theme("colors.white");
  --shiki-token-constant: theme("colors.emerald.300");
  --shiki-token-string: theme("colors.emerald.300");
  --shiki-token-comment: theme("colors.zinc.500");
  --shiki-token-keyword: theme("colors.sky.300");
  --shiki-token-parameter: theme("colors.pink.300");
  --shiki-token-function: theme("colors.violet.300");
  --shiki-token-string-expression: theme("colors.emerald.300");
  --shiki-token-punctuation: theme("colors.zinc.200");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.prose code[data-line-numbers] {
  padding-left: 0;
  padding-right: 0;
}

.prose ul {
  padding-left: 0.75em;
}

pre > code {
  word-wrap: normal;
  background-color: initial;
  border: 0;
  border-radius: initial;
  display: flex;
  flex-direction: column;
  line-height: inherit;
  margin: 0;
  width: max-content;
  min-width: 100%;
  max-width: auto;
  overflow: visible;
}

span[data-line-number] {
  padding-right: 1rem;
}

code[data-line-numbers] > span[data-line-number]::before {
  content: attr(data-line-number);
  /* Other styling */
  display: inline-block;
  width: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  text-align: right;
  color: gray;
}

code > .line {
  position: relative;
}

code > span[data-highlighted] {
  /* https://github.com/shikijs/shiki/blob/f8bd1fbd91e0890743e1ed815993f85cc7115343/packages/shiki/themes/nord.json#L64 */
  background: rgba(255, 255, 255, 0.075);
  width: 100%;
}

code > span[data-highlighted] + span[data-highlighted] {
  border-top: 1px solid theme("colors.slate.800");
}

/**
 * TODO: figure out how to add the data-code-title
 * [reference](https://remix.run/docs/en/v1/tutorials/blog#quickstart)
 */
pre[data-code-title]:before {
  color: rgb(255 255 255 1);
  background: rgb(39 39 42);
  font-size: 0.8125rem;
  font-weight: 600;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5rem;
  min-height: calc(3rem + 1px);
  content: attr(data-code-title);
  display: block;
  padding-top: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-bottom: solid 1px rgb(63 63 70);
}

.autolink {
  visibility: hidden;
}

.prose h1:hover .autolink {
  visibility: visible;
}

.prose h2:hover .autolink {
  visibility: visible;
}

.prose h3:hover .autolink {
  visibility: visible;
}

.prose h4:hover .autolink {
  visibility: visible;
}

.prose h5:hover .autolink {
  visibility: visible;
}

.prose h6:hover .autolink {
  visibility: visible;
}
