---
import NavigationLink from "./NavigationLink.astro";

type Props = {
  pathname: string;
};

const { pathname } = Astro.props;
---

<footer class="site-shell site-footer">
  <nav aria-label="Footer navigation">
    <ul class="site-nav__list">
      <NavigationLink to="/" {pathname}>home</NavigationLink>
      <NavigationLink to="/about" {pathname}>about</NavigationLink>
      <NavigationLink to="/elsewhere" {pathname} variant="elsewhere">
        elsewhere
      </NavigationLink>
    </ul>
  </nav>
  <p class="site-footer__copyright">
    John Hooks © 2021 — 2026. All rights reserved.
  </p>
</footer>
