---
type Props = {
  filename?: string;
  alt?: string;
  darkBackground?: boolean;
};

const { filename, alt, darkBackground = false } = Astro.props;
const wrapperClassName = darkBackground
  ? "my-6 flex justify-start dark:[&>img]:bg-white"
  : "my-6 flex justify-start";
---

{
  filename && (
    <div class={wrapperClassName}>
      <img src={`/images/${filename}`} class="h-32 w-32" alt={alt} />
    </div>
  )
}
