---
type Props = {
  filename?: string;
  alt?: string;
  darkBackground?: boolean;
};

const { filename, alt, darkBackground = false } = Astro.props;
const imageClassName = darkBackground
  ? "media-image__image media-image__image--light-bg"
  : "media-image__image";
---

{
  filename && (
    <div class="media-image">
      <img src={`/images/${filename}`} class={imageClassName} alt={alt} />
    </div>
  )
}
