---
import { Image as AstroImage } from "astro:assets";

import { imageAssets } from "../lib/astro/images";
import type { ImageAssetFilename } from "../lib/astro/images";

type Props =
  | {
      filename: ImageAssetFilename;
      alt: string;
      darkBackground?: boolean;
    }
  | {
      filename?: undefined;
      alt?: undefined;
      darkBackground?: boolean;
    };

const { filename, alt, darkBackground = false } = Astro.props;
const image = filename ? imageAssets[filename] : undefined;
const imageAlt = alt as string;
const imageClassName = darkBackground
  ? "media-image__image media-image__image--light-bg"
  : "media-image__image";
---

{
  image && (
    <div class="media-image">
      <AstroImage src={image} class={imageClassName} alt={imageAlt} />
    </div>
  )
}
