---
type Props = {
  to: string;
  pathname: string;
};

const { to, pathname } = Astro.props;
const isActive = pathname === to;
const className = isActive
  ? "site-nav__link site-nav__link--active"
  : "site-nav__link";
---

<li>
  <a href={to} class={className}>
    <slot />
  </a>
</li>
