---
type Props = {
  to: string;
  pathname: string;
};

const { to, pathname } = Astro.props;
const isActive = pathname === to;
const className = isActive
  ? "relative block px-3 py-2 text-indigo-600 transition dark:text-indigo-400"
  : "relative block px-3 py-2 transition hover:text-indigo-600 dark:hover:text-indigo-400";
---

<li>
  <a href={to} class={className}>
    <slot />
  </a>
</li>
