---
import NavigationLink from "./NavigationLink.astro";

type Props = {
  pathname: string;
};

const { pathname } = Astro.props;
---

<div class="site-shell">
  <header>
    <nav class="site-nav" aria-label="Primary navigation">
      <ul class="site-nav__list">
        <NavigationLink to="/" {pathname}>johnhooks.io</NavigationLink>
        <NavigationLink to="/about" {pathname}>about</NavigationLink>
      </ul>
    </nav>
  </header>
</div>
