---
import ElsewhereLayout from "../shared/ElsewhereLayout.astro";
import ElsewherePageShell from "../shared/ElsewherePageShell.astro";
import "../shared/elsewhere.css";
import "./quotes.css";
---

<ElsewhereLayout
  title="Quote signal lost | Elsewhere quotes"
  description="The requested quote signal could not be found."
  canonicalPath="/elsewhere/quotes"
>
  <ElsewherePageShell
    class="elsewhere-index"
    labelledBy="quote-not-found-title"
    breadcrumb={[
      { label: "johnhooks.io", href: "/" },
      { label: "elsewhere", href: "/elsewhere" },
      { label: "quote wire", href: "/elsewhere/quotes" },
      { label: "signal lost" },
    ]}
  >
    <div class="elsewhere-index__inner">
      <h1 id="quote-not-found-title">signal lost</h1>
      <p>that quote is not on the wire anymore.</p>
      <ul>
        <li><a href="/elsewhere/quotes">retune</a></li>
      </ul>
    </div>
  </ElsewherePageShell>
</ElsewhereLayout>
